# Mode 
NODE_ENV=development
# Port number
PORT=8000
# Database 
HOST=127.0.0.1
DBUSER=root	
PASSWORD=
# JWT
# JWT secret key
JWT_SECRET=neeliasJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=60
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=60

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USERNAME=bobbie.lind73@ethereal.email
SMTP_PASSWORD=DkccWuPvz9ZTsZgPAD
EMAIL_FROM=support@neelias.in

#DOMAIN NAME
NAME=
DOMAIN_NAME=
URL=


AUTHO_DOMAIN = 'dev-w1bmqazbzn600xvo.us.auth0.com'
AUTHO_CLINET_ID = 'Kd16lPoUWpRQ1YeGBsW94tgyISN6hubI'
AUTHO_CLINET_SECERT = 'UL_WS5fVsxmB-D8hBaZQOWSMoQOXkvkYprNrzbupTAAvMt0Ats2sNgLMhABkBYni'